body {
    background-color: white;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: auto; /* Позволяет прокручивать содержимое */
}

.main-container {
  padding: 20px;
  position: relative;
  width: auto;
  height: 100vh;
  margin: 0 auto;
  background: #ffffff;


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: purple;
}

.repricer-wb-bot {
    display: flex;
    align-items: flex-start;
    width: 100%;
    font-size: 10%;
    line-height: 37px;
    color: #ffffff;
    padding-top: 95px;
    z-index: 6;
    background-color: linear-gradient(184deg, #FFF -14.75%, #890F81 193.96%);
}


.close-button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    padding: 20px 30px 10px ;
}
/* Блок личного кабинета*/
.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 66px;
    background: #ffffff;
    box-shadow: 0 4px 33.2px 0 rgba(0, 0, 0, 0.25);
}
/* Текст в блоке личного кабинета */
.personal-account {
    font-size: 24px;
    color: #000000;
}

/* Кнопка мои конфигурации */
.my-configurations {
    font-family: Oswald, sans-serif;
    color: #ffffff;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    max-width: 400px;
    height: 54px;
    margin: 30px auto;
    cursor: pointer;
    background: #890f81;
    border: none;
    border-radius: 22px;
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}



.config-title {
    font-family: Oswald, sans-serif;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    padding: 10px; /* Отступ для лучшего клика */
    background-color: #873582; /* Фон для заголовка */
    border-radius: 4px; /* Скругление углов */
    margin: 10px 0 0; /* Отступы сверху и снизу */
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.config-title:hover {
    background-color: #9747FF; /* Цвет при наведении */
}

/*Блок конфигурации*/
.config-details {
    font-family: Oswald, sans-serif;
    color: #ffffff;
    font-size: 18px;
    display: none; /* Скрыто по умолчанию */
    overflow: hidden;
    background-color: #C362BD;
    padding: 10px;
    margin: 0px 0;
    border-radius: 4px; /* Скругление углов для лучшего внешнего вида */

}

/*Поля ввода и текст перед ними*/
.input-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px; /* Отступ между строками */
}

.input-row label {
    width: 100px;
    margin: 0 0 0 10px;
    margin-right: 50px; /* Отступ между меткой и полем ввода */
    white-space: nowrap; /* Чтобы метка не переносилась на новую строку */
}

.input-row input {
    width: 100%; /* Задает ширину поля ввода */
    padding: 8px; /* Отступ внутри поля ввода */
    border: 1px solid #ccc; /* Граница поля ввода */
    border-radius: 4px; /* Скругление углов */
    box-sizing: border-box; /* Включает padding и border в общую ширину */
}

/*Строка Действий*/
.actions-buttons label {
    width: 100px;
    margin: 0 0 0 10px;
    margin-right: 50px; /* Отступ между меткой и полем ввода */
    white-space: nowrap; /* Чтобы метка не переносилась на новую строку */
}


/*Кнопки действия*/
.action-button {
    font-family: Oswald, sans-serif;
    color: black;
    font-size: 18px;
    background-color: white; /* Исходный цвет */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 5px; /* Отступ между кнопками */
    border-radius: 4px; /* Скругление углов для лучшего внешнего вида */
}

.action-button:hover {
    background-color: #f0f0f0; /* Цвет при наведении */
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 5px; /* Отступ между кнопками */

}

.save-button {
  font-family: Oswald, sans-serif;
    color: white;
    font-size: 18px;
    background-color: #38f538; /* Исходный цвет */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 8px;
    margin-right: 5px; /* Отступ между кнопками */
    border-radius: 50%; /* Скругление углов для лучшего внешнего вида */

}


.delete-button {
  font-family: Oswald, sans-serif;
    color: white;
    font-size: 18px;
    background-color: black; /* Исходный цвет */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 8px;
    margin-right: 5px; /* Отступ между кнопками */
    border-radius: 50%; /* Скругление углов для лучшего внешнего вида */
}

.edit-button {
 font-family: Oswald, sans-serif;
    color: white;
    font-size: 18px;
    background-color: black; /* Исходный цвет */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 8px;
    margin-right: 5px; /* Отступ между кнопками */
    border-radius: 50%; /* Скругление углов для лучшего внешнего вида */



}

.add-configuration {
            margin-top: 30px;
            margin-left: 46%;
            border: none;
            border-radius: 50%; /* Круглая форма */
            width: 60px; /* Ширина кнопки */
            height: 60px; /* Высота кнопки */
            background-color: #4CAF50; /* Цвет фона */
            color: white; /* Цвет текста */
            font-size: 40px; /* Размер текста */
            cursor: pointer; /* Курсор указателя при наведении */
            display: inline-flex; /* Центрирование содержимого */
            align-items: center; /* Центрирование содержимого по вертикали */
            justify-content: center; /* Центрирование содержимого по горизонтали */
        }

#send-configuration {
font-family: Oswald, sans-serif;
    color: white;
    font-size: 18px;
    background-color: #38f538; /* Исходный цвет */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 8px;
    margin-right: 5px; /* Отступ между кнопками */
    border-radius: 50%; /* Скругление углов для лучшего внешнего вида */



}
